<app-header></app-header>
<main>
  <section id="hero">
    <div class="container">
      <div class="row">
        <div class="col-6">aqui</div>

        <div class="col-6 d-flex justify-content-end">
          <video class="video-container" autoplay muted loop>
            <source
              src="../../../assets/video/2-pintora.mp4"
              type="video/mp4"
            />
            Tu navegador no soporta el elemento de video.
          </video>
        </div>
      </div>
    </div>
  </section>

  <section id="services" class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-4 col-md-4 text-center">
          <figure class="info">
            <img src="./images/truck.svg" alt="" />
            <figcaption>
              <h4>Envío gratuito</h4>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum,
                perferendis!
              </p>
            </figcaption>
          </figure>
        </div>
        <div class="col-12 col-sm-4 col-md-4 text-center">
          <figure class="info">
            <img src="./images/clock.svg" alt="" />
            <figcaption>
              <h4>Soporte 24/7</h4>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam,
                possimus.
              </p>
            </figcaption>
          </figure>
        </div>
        <div class="col-12 col-sm-4 col-md-4 text-center">
          <figure class="info">
            <img src="./images/dollar-sign.svg" alt="" />
            <figcaption>
              <h4>Reembolso</h4>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad,
                cumque.
              </p>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </section>
  <section id="featured" class="py-5">
    <div class="container">
      <div class="section-text-combo">
        <h2>Nuestros Productos</h2>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti
          accusantium voluptas voluptatibus perferendis velit nostrum qui
          repellendus laboriosam.
        </p>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="product">
            <figure>
              <img
                src="https://htmldemo.net/flone/flone/assets/img/product/hm3-pro-2.jpg"
                alt=""
              />
              <figcaption>
                <span class="featured">Featured</span>
                <h3>Product 1</h3>
                <p>$ 60.00</p>
              </figcaption>
            </figure>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="product">
            <figure>
              <img
                src="https://htmldemo.net/flone/flone/assets/img/product/hm3-pro-2.jpg"
                alt=""
              />
              <figcaption>
                <span class="featured">Featured</span>
                <h3>Product 1</h3>
                <p>$ 60.00</p>
              </figcaption>
            </figure>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="product">
            <figure>
              <img
                src="https://htmldemo.net/flone/flone/assets/img/product/hm3-pro-2.jpg"
                alt=""
              />
              <figcaption>
                <span class="featured">Featured</span>
                <h3>Product 1</h3>
                <p>$ 60.00</p>
              </figcaption>
            </figure>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="product">
            <figure>
              <img
                src="https://htmldemo.net/flone/flone/assets/img/product/hm3-pro-2.jpg"
                alt=""
              />
              <figcaption>
                <span class="featured">Featured</span>
                <h3>Product 1</h3>
                <p>$ 60.00</p>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="newsletter" class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2>Ad lorem ipsum</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta
            reprehenderit atque inventore obcaecati!
          </p>
        </div>
        <div class="col-md-6">
          <div class="input-group mb-1">
            <input
              type="text"
              class="form-control"
              placeholder="Recipient's username"
              aria-label="Recipient's username"
              aria-describedby="button-addon2"
            />
            <button
              class="btn btn-outline-secondary"
              type="button"
              id="button-addon2"
            >
              Button
            </button>
          </div>
          <small>Lorem ipsum dolor sit amet.</small>
        </div>
      </div>
    </div>
  </section>
</main>
<app-footer></app-footer>
