/* ====================
- General styles
==================== */

main {
  background-color: #9c7c45d5;
  min-height: 80vh;
  margin-top: 70px;
}

.section-text-combo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 1rem;
}

.section-text-combo p {
  width: 70%;
  font-size: 0.9rem;
  line-height: 1.2rem;
}

/* ====================
  - Hero section
  ==================== */

/* Estilos para la sección #hero */
/* Estilos para la sección #hero */
#hero {
  /*  width: 1200px;
  height: 750px; */
  background-image: url("../../../assets/images/FondoArte-1.webp");
  background-size: cover;
  background-position: center;
}
.container {
  /*  display: flex; */
}
.video-container {
  margin-top: 15px;
  padding: 5px;
  width: auto;
  height: 300px;
}
/* ====================
  - Products Section
  ==================== */

.product {
  position: relative;
}

.product figure img {
  width: 100%;
  aspect-ratio: 1 / 1.1;
  object-fit: cover;
}
.product figure figcaption {
  margin-top: 0.5rem;
}

.product figure figcaption .featured {
  position: absolute;
  top: 0;
  right: 0;
  text-transform: uppercase;
  font-size: 0.75rem;
  color: white;
  background: blue;
  font-weight: 600;
  padding: 0.2rem 0.4rem;
  letter-spacing: 0.1rem;
}

.product figure figcaption h3 {
  margin: 0;
  font-size: 1rem;
}

/* ====================
  - Newsletter
  ==================== */

#newsletter h2 {
}
#newsletter p {
  font-size: 0.9rem;
  line-height: 1.2rem;
}
#newsletter small {
  color: red;
}

/* ====================
      - Media queries
     
        xs   <  576px
        sm   ≥  576px
        md   ≥  768px
        lg   ≥  992px
        xl   ≥  1200px
        xxl  ≥  1400px
      ==================== */

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) {
  .section-text-combo p {
    width: 80%;
  }
}

@media screen and (max-width: 576px) {
  html {
    font-size: 18px;
  }
  .section-text-combo p {
    width: 100%;
  }
}
