.container {
  margin-top: 40px;
  background-color: #583c04c3 !important;
  font-family: "Playfair Display", serif;
  color: #d4af37;
  font-size: 1.5rem;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.product {
  position: relative;
}

.product figure img {
  width: 100%;
  aspect-ratio: 1 / 1.1;
  object-fit: cover;
}
.product figure figcaption {
  margin-top: 0.5rem;
}

.product figure figcaption .featured {
  position: absolute;
  top: 0;
  right: 0;
  text-transform: uppercase;
  font-size: 0.75rem;
  color: rgb(14, 13, 13);
  background: rgb(14, 14, 15);
  font-weight: 600;
  padding: 0.2rem 0.4rem;
  letter-spacing: 0.1rem;
}

.product figure figcaption h3 {
  margin: 0;
  font-size: 1rem;
}

#newsletter p {
  font-size: 0.9rem;
  line-height: 1.2rem;
}
#newsletter small {
  color: red;
}
